	<%= form_with model: todo, html: { data: { id: todo.id }, class: "row mt-3" } do |f| %>
		<div class="col-12">
			<%= f.hidden_field :id %>
			<div class="input-group">
			  <div class="input-group-prepend">
			  	<% if todo.incomplete? %>
					  <div class="input-group-text">
						  <a href="#" class="" style="color: black;">&#10021;</a>
						</div>
					 <% end %>
			  	<div class="input-group-text">
				  	<%= f.check_box :completed_at, checked: todo&.complete?, data: { reflex: "change->Todo#update" } %>
				  </div>
			  </div>

			  <%= f.text_field :description, class: "form-control", data: { id: todo.id, reflex: "change->Todo#update" }, readonly: todo.complete? %>

			  <div class="input-group-append">
			  	<%= f.text_field :position, readonly: true, class: "form-control" %>
			  	<%== link_to todo, method: :delete, data: { id: todo.id, reflex: "click->Todo#destroy" }, class: "btn btn-danger" do %>
				  	&#10005;
			  	<% end %>
			  </div>
			</div>
		</div>
	<% end %>

