	<%= form_with model: todo, html: { data: { id: todo.id }, class: "row mt-3", id: "todo-#{todo.id}" } do |f| %>
		<div class="col-12">
			<%= f.hidden_field :id %>

			<div class="input-group">
			  <div class="input-group-prepend">
			  	<% if todo.incomplete? %>
					  <div class="input-group-text js-sortable-handle">
						  <a href="#" class="" style="color: black;">&#10021;</a>
						</div>
					<% end %>
			  	<div class="input-group-text">
				  	<%= f.check_box :completed_at, checked: todo&.complete?, data: { reflex: "change->Todo#update" }, id: "complete-#{todo.id}" %>
				  </div>
			  </div>

			  <%= f.text_field :description, data: { id: todo.id, reflex: "change->Todo#update" }, class: "form-control", id: "desc-#{todo.id}", readonly: todo.complete? %>

			  <div class="input-group-append">
			  	<%== link_to todo, method: :delete, data: { id: todo.id, reflex: "click->Todo#destroy" }, class: "btn btn-danger", id: "delete-#{todo.id}" do %>
				  	&#10005;
			  	<% end %>
			  </div>
			</div>
		</div>
	<% end %>

