<div class="container">
	<div class="row">
		<div class="col">
			<p id="notice"><%= notice %></p>

			<div class="jumbotron">
				<h1>View Todo</h1>
			</div>

			<p>
			  <strong>Description:</strong>
			  <%= @todo.description %>
			</p>

			<p>
			  <strong>Completed at:</strong>
			  <%= @todo.completed_at %>
			</p>

			<%= link_to 'Edit', edit_todo_path(@todo), class: "btn btn-warning" %> |
			<%= link_to 'Back', todos_path, class: "btn btn-light" %>
		</div>
	</div>
</div>
